<div class="message">
  <div class="message-holder", data-user_id="<%= message.user.id %>">
    <%= message.user.name %>
  </div>
  <div class="message">
    <%= simple_format(h message.content) %>
  </div>
</div>
