<div class="friends" %>
  <% @friends.each do |friend| %>
    <div class="profile-wrap">
      <%= render_to_profile(friend) %>
      <%= render "introduction", user: friend %>
    </div>
  <% end %>
</div>
