<div class="group-form">
  <%= link_to "新しいグループを作る", new_group_path %>
</div>

<div class="group-list">
  <% @groups.each do |group| %>
    <div class="one-group">
        <%= render_to_info(group, :group_image, "default_group.png", :group_name, group) %>
    </div>
  <% end %>
</div>
