<div class="group-form">
  <%= link_to "新しいグループを作る", new_group_path %>
</div>

<div class="group-list">
  <% @groups.each do |group| %>
    <div class="profile-wrap">
      <%= render_to_profile(group) %>
    </div>
  <% end %>
</div>
