<div class="group-form">
  <%= link_to "新しいグループを作る", new_group_path %>
</div>

<div class="group-list">
  <% @user_groups.each do |user_group| %>
    <div class="profile-wrap">
      <% if user_group.activated? %>
        <%= render_to_profile(user_group.group) %>
      <% end %>
    </div>
  <% end %>
</div>
