<% provide(:title, "Friends") %>
<h1>Your Friends</h1>
<div class="friends" %>
  <% @users.each_with_index do |user, i| %>
    <div class="friend-i">
      <%= link_to user.name, user %>
    </div>
  <% end %>
</div>
