<% provide(:title, "Top") %>

<div class="profile" %>
  <h1>Your Profile</h1>
  <%= render "profile" %>
</div>

<div class="groups">
  <h1 class="groups-title">Groups</h1>
  <%= render "groups" %>
</div>

<div class="friends">
  <h1 class="friends-title">Your Friends</h1>
  <%= render "friends" %>
</div>
