<div class="info">
  <div class="info-avatar">
    <%= render "shared/image", info: info, image: image, default_image: default_image %>
  </div>
  <div class="info-name">
    <%= render "shared/name", info: info, name: name, link: link %>
  </div>
</div>
