<div class="profile-image">
  <%= render "shared/image", object: object %>
</div>
<div class="profile-name">
  <%= render "shared/name", object: object, link: link, link_cancel: link_cancel %>
</div>
