<h1 class="room-title">トーク一覧</h1>

<div class="rooms-list">
  <% @rooms.each do |room| %>
    <% room.users.each do |user| %>
      <% unless user == current_user %>
      <div class="personal-chat">
        <%= link_to user.name, room %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
