<% provide(:title, "Chat-rooms") %>
<div class="room-list">
  <h1 class="room-title">トーク一覧</h1>
  <div class="rooms-list">
    <div class="group-room">
      <% @groups.each do |group| %>
      <div class="profile-wrap">
        <% if current_user.is_activated_by?(group) %>
        <%= render_to_profile(group, link: group.room) %>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="personal-room">
      <% @rooms.each do |room| %>
      <% room.users.each do |user| %>
      <% unless current_user?(user) %>
      <div class="profile-wrap">
        <%= render_to_profile(user, link: room) %>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
