<% provide(:title, "Chat-rooms") %>
<div class="room-list">
  <h1 class="room-title">トーク一覧</h1>
  <div class="rooms-list">
    <div class="group-room">
      <% @groups.each do |group| %>
      <div class="group-chat">
        <%= render_to_info(group, :group_image, "default_group.png", :group_name, group.room) %>
      </div>
      <% end %>
    </div>

    <div class="private-room">
      <% @rooms.each do |room| %>
      <% room.users.each do |user| %>
      <% unless user == current_user %>
      <div class="personal-chat">
        <%= render_to_info(user, :avatar, "default_user.png", :name, room) %>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
