// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rooms {
  text-align : center;
  width: 100%;
  height :100px;
  margin: 0 auto;
  background-color: #696969;
  position: fixed;
  top: 0px;
  z-index: 3;
}

.rooms-list {
  margin-top: 170px;
}

.chat-room {
  padding: 5px;
}

.room-title {
  background-color: white;
  width: 100%;
  padding: 5px;
  position: fixed;
  top: 100px;
  z-index: 2;
}

.room-delete-link {
  font-size: 5px;
}

#message-container {
  height: auto;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  top: 70px;
  z-index: 1;
}

#chat-footer {
  background-color: white;
  width: 100%;
  height: 100px;
  border-top: 2px solid gray;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

#message_content {
  resize: none;
}
